<template name="componentHeader">
    <h1><a href="/">Meteorplate</a></h1>
    <div class="navbar">
        <ul class="navbar-list">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/colors">
                <li>Colors Example</li>
            </a>
            <a href="/cars">
                <li>Cars Example</li>
            </a>
            {{#if loggedIn}}
            <a href="/account">
                <li>
                    {{#if name}}
                    {{name}}'s
                    {{else}}
                    Your {{name}}
                    {{/if}}
                    Account
                </li>
            </a>
            {{/if}}
            <li class="login">
              {{> loginButtons}}
            </li>
        </ul>
    </div>
</template>

